<div class="panel panel-warning">
  <div class="panel-heading">Search for amua users</div>
  <div class="panel-body container">
    <%= search_form_for @q, url: search_path, class: 'form-inline' do |f| %>
      <%= f.search_field :first_name_or_last_name_cont, class: 'form-control' %>
      <%= f.submit 'Search', class: 'btn btn-default' %>
    <% end %>
    <hr/>
    <ul class="media-list">
      <% if @q.result.any? %>
        <% @q.result.each do |result| %>
          <%= render 'users/user', user: result %>
        <% end %>
      <% else %>
        <h3>
          No users matched:
          <strong>
            <%= params['q']['first_name_or_last_name_cont'] %>
          </strong>
        </h3>
      <% end %>
    </ul>
  </div>
</div>
