<div class="row">
  <div class="col-md-4">
    <div class="well text-center">
      <%= image_tag 'udef.png' %>
      <h3>
        <%= @user.fullname %>
      </h3>
      <hr/>
      <% if user_signed_in? and current_user == @user %>
        <%= link_to edit_registration_path(current_user), class: 'btn btn-default' do %>
          <i class="fa fa-pencil">&nbsp;Edit information</i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well">
      <%= render 'posts/form_inputs' %>
    </div>
    <ul class="media-list User">
      <% @posts.each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    </ul>
  </div>
</div>
