<div class="navbar navbar-default">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <strong>am.</strong>
      ua
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Search', search_path %>
        </li>
        <li>
          <%= link_to current_user.fullname, show_user_path(current_user) %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", users_login_path %>
        </li>
        <li>
          <%= link_to "Register", users_register_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
